@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.center {
  display: flex;
}

.gernes {
  height: 92vh;
  width: 12vw;
}

.display-nothing {
  height: 0vh;
  width: 88vw;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 110%;
}
/* #video-background {
  height: 260vh;
  position: relative;
  z-index: -1;
} */

.display-ballad {
  height: 28vh;
  width: 88vw;
  display: flex;
  flex-direction: column;
}

.display-blue {
  height: 28vh;
  width: 88vw;
  display: flex;
  flex-direction: column;
}

.title {
  height: 4vh;
  width: 88vw;

  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.list {
  display: flex;
  background-color: rgba(40, 40, 40, 0.6);
}

.song {
  height: 24vh;
  width: 10vw;
  background-color: rgba(40, 40, 40, 0.6);
  margin-right: 0px;
  border-left: 1px solid rgb(171, 115, 226);
  border-top: 1px solid rgb(171, 115, 226);
  border-bottom: 1px solid rgb(171, 115, 226);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#end-ballad {
  border-right: 1px solid rgb(171, 115, 226);
}

#end-blue {
  border-right: 1px solid rgb(171, 115, 226);
}

.song:hover {
  background-color: aliceblue;
  color: black;
}

.song:hover .info {
  color: black;
}

.image {
  height: 12vh;
  width: 12vh;
  background-color: black;
  margin-left: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.image {
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

.image img {
  height: 12vh;
  width: 12vh;
}

.info {
  height: 10vh;
  width: 9vw;
  margin-left: 1vh;
  font-family: 'Lato', sans-serif;
  font-size: 2vh;
  color: aliceblue;
}

.singer {
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5vh;
  font-size: 1.5vh;

}

.time {
  font-family: 'Roboto', sans-serif;
  margin-top: 0.3vh;
  font-size: 1.5vh;
}