.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-box {
    opacity: 0;
    animation: fade-in-animation 5s ease-in-out forwards;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#blog {
    position: relative;
    z-index: 1;
    /* Các kiểu tạo hiệu ứng và định dạng nội dung khác */
}


* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;

}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #cab7b7;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    display: flex;
    width: 500px;
    height: 300px;

    border: 1px solid #82828b;
    margin: 20px;
    background-color: antiquewhite;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    margin-top: 37px;
    margin-left: 16px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 1rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all case 0.3s;
}

.blog-text .p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all case 0.3s;
}