<body class="video-container">
    <div class="video-background">
        <video autoplay loop muted>
            <source src="../../../assets/imgs/video4.mp4" type="video/mp4">
        </video>
    </div>

    <div class="heading">
        <app-header></app-header>
    </div>
    <div class="container">
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/trai.jpg" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Nguyễn Lê Anh</a>
                </div>
                <div class="mssv">
                    <span>20207655</span>
                </div>
                <div class="infor">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/gai.jpg" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Vo Ngoc Tra My</a>
                </div>
                <div class="mssv">
                    <span>20207692</span>
                </div>
                <div class="infor">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/trai.jpg" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Nguyễn Mạnh Hùng</a>
                </div>
                <div class="mssv">
                    <span>20207676</span>
                </div>
                <div class="infor">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/trai.jpg" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Lê Thành Đạt</a>
                </div>
                <div class="mssv">
                    <span>20207661</span>
                </div>
                <div class="infor">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/trai.jpg" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Trần Văn Tài</a>
                </div>
                <div class="mssv">
                    <span>20207700</span>
                </div>
                <div class="infor">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</body>