<body class="video-container">
    <div class="video-background">
        <video autoplay loop muted>
            <source src="../../../assets/imgs/video4.mp4" type="video/mp4">
        </video>
    </div>

    <div class="heading">
        About Us
    </div>
    <div class="container">
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/msicbg.png" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Vo Ngoc Tra My</a>
                </div>
                <div class="mssv">
                    <span>20207692</span>
                </div>
                <div class="infor">
                    <span>Xin chao moi nguoi! Minh la Tai, tai c19, que minh o Ha Tinh, co ai biet Ha Tinh khong
                        nhi</span>
                </div>
            </div>
        </div>
        <div class="box"></div>
        <div class="box">
            <div class="image-container">
                <img class="image" src="../../../assets/imgs/msicbg.png" alt="Ai day nhi">
            </div>
            <div class="info-container">
                <div class="name">
                    <a href="">Hung Ga</a>
                </div>
                <div class="mssv">
                    <span>20207692</span>
                </div>
                <div class="infor">
                    <span>Xin chao moi nguoi! Minh la Tai, tai c19, que minh o Ha Tinh, co ai biet Ha Tinh khong
                        nhi</span>
                </div>
            </div>
        </div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>