<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <video autoplay>
        <source src="../../../assets/imgs/video2.mp4" type="video/mp4">
    </video>
    <section id="blog">
        <div class="blog-heading">
            <!--<span>Nhom 11</span>-->
            <h3>About Us</h3>
        </div>

        <div class="blog-container">
            <!--box-1-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="images/blog-1.jpeg" alt="Blog">
                </div>

                <div class="blog-text">
                    <a href="#" class="blog-title">VÕ Ngọc Trà My</a>
                    <span>20207700 </span>
                    <p>Trần Văn Tài trần văn tài asdjflasdjflsdjf;laksdjf;lasdkj lakjfl;aksj falkj flasdj falskdj</p>
                    <!--<a href="#">Read More</a>-->
                </div>
            </div>

            <!--box-1-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="images/blog-1.jpeg" alt="Blog">
                </div>

                <div class="blog-text">
                    <a href="#" class="blog-title">Nguyễn Lê Anh</a>
                    <span>20207700 </span>
                    <p>Trần Văn Tài trần văn tài asdjflasdjflsdjf;laksdjf;lasdkj lakjfl;aksj falkj flasdj falskdj</p>
                    <!--<a href="#">Read More</a>-->
                </div>
            </div>

            <!--box-1-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="images/blog-1.jpeg" alt="Blog">
                </div>

                <div class="blog-text">
                    <a href="#" class="blog-title">Hùng Gà</a>
                    <span>20207700 </span>
                    <p>Trần Văn Tài trần văn tài asdjflasdjflsdjf;laksdjf;lasdkj lakjfl;aksj falkj flasdj falskdj</p>
                    <!--<a href="#">Read More</a>-->
                </div>
            </div>

            <!--box-1-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="images/blog-1.jpeg" alt="Blog">
                </div>

                <div class="blog-text">
                    <a href="#" class="blog-title">Đạt</a>
                    <span>20207700 </span>
                    <p>Trần Văn Tài trần văn tài asdjflasdjflsdjf;laksdjf;lasdkj lakjfl;aksj falkj flasdj falskdj</p>
                    <!--<a href="#">Read More</a>-->
                </div>
            </div>

            <!--box-1-->
            <div class="blog-box">
                <div class="blog-img">
                    <img src="images/blog-1.jpeg" alt="Blog">
                </div>

                <div class="blog-text">
                    <a href="#" class="blog-title">Tài</a>
                    <span>20207700 </span>
                    <p>Trần Văn Tài trần văn tài asdjflasdjflsdjf;laksdjf;lasdkj lakjfl;aksj falkj flasdj falskdj</p>
                    <!--<a href="#">Read More</a>-->
                </div>
            </div>
        </div>

    </section>
</body>

</html>
<app-recordbutton></app-recordbutton>