<!-- 
<button (click)="onRecord()">{{ recording ? 'Stop Recording' : 'Start Recording' }}</button>
    <button (click)="onPlay()" [disabled]="!audioBlob">Play</button> -->

    <!-- <button type="button" onclick="alert('Bấm cái đầu b')">Click Me!</button> -->


   
    <button (click)="startRecording()">Record</button>
    <button (click)="stopRecording()">Stop</button>
    <button (click)="createRecording()">Save</button>
    <button (click)="score()">Score</button>
    <div>Score: {{this.scores}}</div>
    <!-- <button (click)="getRecording()">get Record</button> -->

    <!-- <button (click)="downloadRecording()">Download Record to computer</button> -->
    <!-- <button (click)="onRecordClick()">Record1</button> -->
    <!-- <button (click)="downloadRecording()">Save</button> -->

