@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.gernes {
  height: 92vh;
  width: 12vw;
  background-color: rgb(40, 28, 44);
}

.menu-bar {
  font-family: 'Ubuntu', sans-serif;
  height: 5vh;
  width: 12vw;
  color: azure;
  font-size: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;

}

#menu-icon {
  padding-right: 0.8vw;
  font-size: 3vh;
  color: rgb(218, 212, 217);
}

.menu-list {
  height: 12vh;
  width: 12vw;
}

.menu {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.5vh;
  height: auto;
  width: 12vw;
  /* background-color: rgb(64, 52, 68); */
  color: rgb(207, 33, 184);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 2vw;
}


.menu:hover {
  background-color: rgb(183, 131, 207);
}

.help {
  height: 72vh;
  width: 12vw;
  background-color: rgba(23, 15, 35, 255);
  color: rgba(23, 15, 35, 255);
  display: flex;
  align-items: end;
  justify-content: center;
}