.gernes {
  height: 92vh;
  width: 12vw;
  background-color: rgb(40, 28, 44);
}

.menu-icon {
  height: 5vh;
  width: 12vw;
  color: azure;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;

}

.menu-list {
  height: 50vh;
  width: 12vw;
}

.menu {
  height: 6vh;
  width: 12vw;
  background-color: rgb(64, 52, 68);
  color: rgb(233, 216, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #000000;
}

.menu:hover {
  background-color: rgb(183, 131, 207);
}