  <body class="gernes">
  <div>
    <div class="menu-bar">
      <i id="menu-icon" class="fa-solid fa-bars"></i>
      Genres
    </div>
    <div class="menu-list">
      <div class="menu">
        <a routerLink="/library" style="text-decoration: none ">Pop</a>
      </div>
      <div class="menu">
        <a routerLink="/library" style="text-decoration: none ">Rap</a>
      </div>
      <div class="menu" >
        <a routerLink="/library" style="text-decoration: none ">Ballad</a>
      </div>
      <div class="menu">
        <a routerLink="/library" style="text-decoration: none ">HipHop</a>
      </div>
    </div>
  </div>
  <div class="help">
  </div>
</body>