<header>
  <div class="header">
    <div class="home">
      <div class="video-icon">
        <video autoplay loop muted src="../../../assets/imgs/video4.mp4"></video>
      </div>
      <!--<i id="home-icon" class="fa-solid fa-record-vinyl"></i>-->
      <a id="a-home" href="#home">Kara666</a>
    </div>
    <div class="aboutus">
      <a id="a-aboutus" routerLink="/aboutus">About Us</a>
    </div>
    <div class="library">
      <a id="a-library" routerLink="/library">Library</a>
    </div>
    <div class="account">
      <a id="user-icon" routerLink="/user" class="fa-solid fa-user"></a>
    </div>
    <div class="search-box">
      <input type="text" [(ngModel)]="query" name="" id="search-input" placeholder="Search...">
      <i id="search-icon" class="fa-solid fa-magnifying-glass" (click)="search()"></i>
      <div class="search-results" *ngIf="songs.length > 0">
        <ul>
          <li *ngFor="let song of songs" (click)="goToSong(song)">{{ song.title }} - {{ song.artist }}</li>
        </ul>
      </div>
    </div>
  </div>
</header>