

<header>
    <div class="header">
      <a href="" class="home-img"><img src="./fav-icon-removebg-preview.png" alt=""></a>
    
    </div>
    <!-- links -->
    <div class="nav-bar">
      <ul class="navbar"> 
        
        <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="#about">About Us</a></li>
        <li><a routerLink="/library">Library</a></li>
     </ul>
  
    <!-- Search box -->
    <div class="search-box"> 
      <input type="text" name="" id="search-input" placeholder="Find Music...">
      <div class="search">
        <a href="#" class="card">
          <div class="cont">
            <li>Meo Meo Meo gdhtrueutwuwuwu57yrsg54urtj5ywk75weu54y5ik75yr5eytey4w</li>
          </div>
        </a>
        <a href="#" class="card">
          <div class="cont">
            <li>Meo Meo Meo gdhtrueutwuwuwu57yrsg54urtj5ywk75weu54y5ik75yr5eytey4w</li>
          </div>
        </a>
        <a href="#" class="card">
          <div class="cont">
            <li>Meo Meo Meo gdhtrueutwuwuwu57yrsg54urtj5ywk75weu54y5ik75yr5eytey4w</li>
          </div>
        </a>
        <a href="#" class="card">
          <div class="cont">
            <li>Meo Meo Meo gdhtrueutwuwuwu57yrsg54urtj5ywk75weu54y5ik75yr5eytey4w</li>
          </div>
        </a>
        <a href="#" class="card">
          <div class="cont">
            <li>Meo Meo Meo gdhtrueutwuwuwu57yrsg54urtj5ywk75weu54y5ik75yr5eytey4w</li>
          </div>
        </a>
      </div>
        
    </div>
  
    <!--User div-->
    <div class="usericon">
      <a routerLink="/user"><i class="fa-solid fa-circle-user fa-2x"></i> </a>
    </div> 
  </div>   
</header>