@import '~@fortawesome/fontawesome-free/css/all.css';


.header {
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: rgb(40, 12, 52);

}

.home {
    height: 100%;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a-home {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}

#home-icon {
    margin-right: 0.3vw;
    font-size: 4vh;
    color: aliceblue;
}

.aboutus {
    height: 100%;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a-aboutus {
    font-size: 2rem;
    color: rgb(214, 184, 238);
    text-decoration-line: none;
}

.library {
    height: 100%;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a-library {
    font-size: 2rem;
    color: rgb(214, 184, 238);
    text-decoration-line: none;
}

.account {
    height: 100%;
    width: 46vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

#user-icon {
    margin-right: 2vw;
    font-size: 4vh;
    color: aliceblue;
}

#user-icon:hover {
    cursor: pointer;
}

.search-box {
    height: 100%;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#search-input {
    height: 4vh;
    width: 15vw;
    padding-left: 20px;
    margin-right: 2vw;
    border-radius: 25px;
    border: black;
    outline: none;
    font-size: 1rem;
    float: right;
    background-color: rgb(138, 92, 160);
    transition: background-color 0.3s;
    color: rgb(40, 12, 52);
}

#search-input::placeholder {
    color: rgb(40, 12, 52);
}


#search-input:focus {
    background-color: rgb(158, 109, 173);
    /* Màu sắc khi đã click */
}