<header>
  <div class="header">
    <div class="home">
      <i id="home-icon" class="fa-solid fa-record-vinyl"></i>
      <a id="a-home" href="#home">666</a>
    </div>
    <div class="aboutus">
      <a id="a-aboutus" routerLink="/aboutus">About Us</a>
    </div>
    <div class="library">
      <a id="a-library" routerLink="/library">Library</a>
    </div>
    <div class="account">
      <i id="user-icon" class="fa-solid fa-user"></i>
    </div>
    <div class="search-box">
      <input type="text" name="" id="search-input" placeholder="Search...">
      <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</header>