
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign In</h1>
            <form>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="Password">
                    </div>
                    <br>
                    <p>Forgot Password? <a href="#">Click Here!</a></p>
                    <br>
                    <p>Not have account yet! <a routerLink="/signup">Sign Up</a></p>
                </div>
                <br>
                <div class="btn-field">
                    <button type="button" id="signinBtn">Sign In</button>
                    <a routerLink="/home"></a> 
                </div>
            </form>
        </div>
    </div>
</body>