
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign In</h1>
            <mat-form-field class="input-group">
                
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" matInput placeholder="Username" [(ngModel)]="email">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" matInput placeholder="Password"  [(ngModel)]="password">
                    </div>
                    <br>
                    <p>Forgot Password? <a href="#">Click Here!</a></p>
                    <br>
                    <p>Not have account yet! <a routerLink="/signup">Sign Up</a></p>
                
                <br>
                <div class="btn-field">
                    <button type="button" id="signinBtn" (click)="login()">Sign In</button>
                    <a routerLink="/home"></a> 
                </div>
            </mat-form-field>
        </div>
    </div>
</body>