@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.center {
  display: flex;
}

.display {
  height: 92vh;
  width: 70vw;
  background-color: rgb(52, 36, 58);
  display: flex;
  flex-direction: column;
}
.displaysongs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 18vw;
    height: 92vh;
    background-color: rgb(52, 36, 58);
}

.displaysongs::-webkit-scrollbar {
    width: 5px;
}

.displaysongs::-webkit-scrollbar-track {
    background: #382929;
}

.displaysongs::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 4px;
}

.displaysongs::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.video-display {
  height: 77vh;
  width: 70vw;
}

video {
  height: 77vh;
  width: 69.6vw;
  object-fit: cover;
  margin-top: 1vh;
  margin-left: 0.2vw;
}

.video-info {
  margin: 7px;
  height: 7vh;
  width: 69.6vw;
  color: aliceblue;
}

.song-name {
  margin-left: 1vh;
  font-family: 'Lato', sans-serif;
}