.center {
  display: flex;
}

.display {
  height: 92vh;
  width: 70vw;
  background-color: rgb(52, 36, 58);
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

video {
  margin: 7px;
  height: 77vh;
  width: 69.6vw;
  object-fit: cover;
}

img {
  margin: 7px;
  height: 72vh;
  width: 69.6vw;
}