<app-header></app-header>

<body>
  
  <div class="split left">
    <div class="centered">

  
    </div>
  </div>

  <div class="split right">
    
    
  </div>
<section class="introduction-sector">
  <div class="intro1">
    <h1>666. <br><span>.Karaoke</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dolorem quo. Assumenda suscipit itaque tempora totam sunt sequi. Laboriosam iste, rem iusto eligendi sed distinctio ut qui ad culpa tempora.</p>
    <a href="">Learn more</a>
  </div>
</section>
</body>