@import '~@fortawesome/fontawesome-free/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Tilt Warp', cursive;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial;
    background-image: url(../../../assets/imgs/imgtest.png);
    height: 100%;
    padding-top: 0;
    width:  100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 14px;
    display: flex;
  }
  
  .split {
   flex:1;
   border: 1px solid black;
  }
  
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  