

<header>
  <div class="header">
    <a href="" class=""><i class="fa-solid fa-hand-middle-finger fa-2x"></i></a>
  
  </div>
  <!-- links -->
  <div class="nav-bar">
    <ul class="navbar"> 
      
      <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="#about">About Us</a></li>
      <li><a routerLink="/library">Library</a></li>
   </ul>
   
  
  <!-- Search box -->
  <div class="search-box"> 
      <input type="text" name="" id="" placeholder="Find Music...">
      
  </div>

 <!--User div-->
  <div class="usericon">
    <a routerLink="/signin"><i class="fa-solid fa-circle-user fa-2x"></i> </a>
  </div> 
</div>   
</header>



<body>
<div class="body left">
  <div class="rating">
    <p>100</p>
  </div>
  <div class="displayvid"></div>




</div>
<div class="body right">  
  <div class="listvid"></div>




  <div class="buttonsec"></div>
</div>  



</body>