<app-header></app-header>

<body>
  <app-gernes></app-gernes>
  <div class="split left">
    <app-displaysongs></app-displaysongs>
  </div>

  <div class="split right">


  </div>
  <section class="introduction-sector">
    <div class="intro1">
      <h1>666. <br><span>.Karaoke</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dolorem quo. Assumenda suscipit itaque tempora
        totam sunt sequi. Laboriosam iste, rem iusto eligendi sed distinctio ut qui ad culpa tempora.</p>
      <a routerLink="/signin">Learn more</a>
      <br>
      <button><a routerLink="/displaysongs">test display songs</a></button>
    </div>
  </section>
</body>