<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.component.css">
    <title>Document</title>
</head>


<app-header></app-header>






 <body>
   
    <section>
        <!--menu card-->
        <div class="profile">
            <img src="../../../assets/imgs/Userimg.png" alt="" width="150px">
            <h1>M Sani</h1>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100014144444020"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100014144444020"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100014144444020"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100014144444020"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>

        <!--Navbar-->
    
        <nav>
            <form>
                <p>Name:</p>
                <div class="menu-bar">Home</div>
                <p>Email:</p>
                <div  class="menu-bar">About</div>
                <p>Tele:</p>
                <div   class="menu-bar">Library</div>
            
            </form>
        </nav>
        <div class="footer">
            <a class="button1" href=""><span class="btn1">Log out</span></a>
            <a class="button1" href=""><span class="btn1">Edit</span></a>
        </div>
    </section>
</body>
</html>