<app-header></app-header>

  
  <body>
    <header>
      <h1>Karaoke Player</h1>
    </header>
    <main>
      <app-gernes></app-gernes>


      <section id="play-song-zone">
        <div class="player">
         
          <video class="song-video"  [src]="selectedSong?.videoUrl" controls width="1680" height="1050" ></video>

         
          <app-recordbutton></app-recordbutton>
        </div>
      </section>
      

      <!-- <div class="lyrics">
        <h2>Song Title</h2>
        <div class="lyrics-text">
          <p>[Verse 1]</p>
          <p>Lyrics...</p>
        </div>

       
      </div> -->
      <app-displaysongs> </app-displaysongs>
    </main>
  </body>

      
      

     
