<app-header></app-header>

  
  <body>
    <header>
      <h1>Karaoke Player</h1>
    </header>
    <main>
      <div class="player">

        <img width="100%" height="100%" src="VinylRecord.png" alt="img" >
      
      </div>
      <div class="lyrics">
        <h2>Song Title</h2>
        <div class="lyrics-text">
          <p>[Verse 1]</p>
          <p>Lyrics...</p>
        </div>
      </div>
    </main>
  </body>

      
      

     

<!-- <button (click)="record()">Record</button>
<button (click)="play(1)">Play Recording #1</button> -->
