<app-header></app-header>

  
  <body>
    <header>
      <h1>Karaoke Player</h1>
    </header>
    <main>
      <app-gernes></app-gernes>


      <section id="play-song-zone">
        <div class="player">

          <div class="song-image-wrapper">
            <img [src]="selectedSong?.imageUrl" alt="{{ selectedSong?.title }} cover image" class="song-image"/>
          </div>
          <div class="audio-player-wrapper">
            <audio #audioPlayer [src]="selectedSong?.beatUrl"></audio>
            <button (click)="toggleAudioPlayback(audioPlayer)" [class.playing]="isAudioPlaying">
              <i class="fas fa-fw" [ngClass]="{'fa-stop': isAudioPlaying, 'fa-play': !isAudioPlaying}"></i>
            </button>
          </div>
          <div class="lyrics">
            <h2>{{ selectedSong?.title }}</h2>
          
            {{ selectedSong?.lyric }}
            </div>
    
           
          </div>
          

         
          <app-recordbutton></app-recordbutton>
       
      </section>
      

    
      <app-displaysongs> </app-displaysongs>
    </main>
  </body>

      
      

     
