<body class="displaysongs">
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Gặp Mẹ Trong Mơ</div>
            <div class="singer">No Thing</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">That Girl</div>
            <div class="singer">XOXXX</div>
            <div class="time">4p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/disc1.jpg" alt="">
        <div class="info">
            <div class="name">Roller Coaster</div>
            <div class="singer">NMIXX</div>
            <div class="time">6p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/imgtest.png" alt="">
        <div class="info">
            <div class="name">Ngày Mưa Rơi</div>
            <div class="singer">DICKSON</div>
            <div class="time">7p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Nàng Kiều Lỡ Bước</div>
            <div class="singer">HKT</div>
            <div class="time">6p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Gặp Mẹ Trong Mơ</div>
            <div class="singer">No Thing</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 6</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
</body>