<body class="displaysongs">
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 2</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 3</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 4</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 5</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 6</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
    <div class="song">
        <img class="image" src="../../../assets/imgs/msicbg.png" alt="">
        <div class="info">
            <div class="name">Bai hat so 1</div>
            <div class="singer">Ca si: Tai c19</div>
            <div class="time">8p</div>
        </div>
    </div>
</body>