.displaysongs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 18vw;
    height: 92vh;
}

.song {
    margin-top: 1vh;
    margin-left: 1vh;
    height: 14vh;
    width: 17vw;
    background-color: rgb(24, 12, 36);
    display: flex;
}

.song:hover {
    background-color: rgb(53, 28, 77);
}

.image {
    margin-top: 1vh;
    margin-left: 1vh;
    height: 12vh;
    width: 12vh;
}

.info {
    margin-top: 1vh;
    margin-left: 1vh;
    color: aliceblue;
    font-size: 1.3rem;
}

.singer {
    margin-top: 1vh;
}