.displaysongs {
    overflow-y: auto;
    overflow-x: hidden;
    width: 18vw;
    height: 92vh;
    background-color: rgb(52, 36, 58);
}

.song {
    margin-top: 1vh;
    margin-left: 0vh;
    height: 14vh;
    width: 17vw;
    background-color: rgb(24, 12, 36);
    display: flex;
}

.song:hover {
    background-color: rgb(81, 46, 114);
}

.image {
    margin-top: 1vh;
    margin-left: 1vh;
    height: 12vh;
    width: 12vh;
}

.info {
    margin-top: 1vh;
    margin-left: 1vh;
    color: aliceblue;
    font-size: 1.3rem;
}

.singer {
    margin-top: 1vh;
    font-size: 1.1rem;
    color: rgb(204, 182, 224);
}

.time {
    margin-top: 0.5vh;
    font-size: 1.1rem;
    color: rgb(204, 182, 224);
}