*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.container .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54 /15%);
}

.container .img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 0.5rem;
}
.container .box h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
}
.container .box .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .box .content span{
    padding: 0 1rem;
    color: #4f772d;
    background:#bc9667;
    font-weight: 500;
    border-radius: 4px;
}
.container .box .content a{
    padding: 0 1rem;
    color: #4f772d;
    border: 2px solid #4f772d;
    text-transform: uppercase;
    border-radius: 4px;
}
.container .box .content a:hover{
    background:#4f772d;
    color: #bc9667;
    transition: 0.2s all linear;   
}